*{
    font-family: "Hannotate SC";
}

body{
    background-color: white;
}

h1{
    text-shadow: pink 5px 0 1px;
}

h2{
    color: mediumseagreen;
    text-decoration: pink underline dotted 5px;
}

div#box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 1000px;
}

div#box > div {
	margin: 10px;
	padding: 10px 10px 10px 10px;
	background-color: white;
    border: solid 3px;
    border-color: rgb(156, 156, 156);
}

/*フェードイン 
div#box {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  div#box:hover {
    opacity: 1;
  }
   */

h3{
    color: pink;
    text-decoration: lightgreen underline;
}

a:link{
    color: mediumspringgreen;
}

a:visited{
    color: darkorange;
}

a:hover{
    color: pink;
}