*{
    font-family: "Hannotate SC";
}

body{
    background-color: white;
}

h1{
    text-shadow: pink 5px 0 1px;
}

h2{
    color: mediumseagreen;
    text-decoration: pink underline dotted 5px;
    /* background-color: rgb(251, 216, 222); */
}

div#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 1000px;
}

div#main > div {
	margin: 5px;
	padding: 5px 5px 5px 5px;
	background-color: white;
    border: solid 3px;
    border-color: gray;
}

h3{
    color: pink;
    text-decoration: lightgreen underline;
    /* background-color: rgb(223, 255, 242); */
}

a:link{
    color: mediumspringgreen;
}

a:visited{
    color: darkorange;
}

a:hover{
    color: pink;
}