*{
    font-family: "Hannotate SC";
}

body{
    background-color: white;
}

h1{
    text-shadow: palegreen 5px 0 10px;
}

h2{
    color: mediumseagreen;
    text-decoration: underline;
}

a:link{
    color: mediumspringgreen;
}

a:visited{
    color: orange;
}

a:hover{
    color: pink;
}